@using Microsoft.Web.Samples
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href='@Url.Action("Create", "Profile")'>
                    @Sprite.Image("~/App_Sprites/photo.png")
                </a>
            </li>
            <li>
                <a href='@Url.Action("UserPage", "Profile", new {name = User.Identity.Name})'>
                    @Sprite.Image("~/App_Sprites/user.png")
                </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    @Sprite.Image("~/App_Sprites/quit.png")
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}