@using Microsoft.Web.Samples
@model MvcPL.Models.Helpers.GalleryLinksModel

@foreach (var item in Model.photos)
{
    <div class="image-container">
        <a href="" class="gallery-link" data-gallery>
            <img class="gallery-image"
                 id="@(item.Id + "photo")"
                 onload="ImageHide(@item.Id)"
                 src=@Url.Action("Show", "Photo", new {photoId = item.Id}) />
            <img class="loading-image" id=@(item.Id + "image") src="~/Content/Images/loading.gif" alt="Loading..." />
        </a>

        <div class="image-info-container">
            <div class="image-info-description">
                <p class="image-description">@item.Description</p>
                <p class="image-data">@item.CreatedOn.ToString("F")</p>

                @if (item.UserName != null)
                {
                    <p class="image-author">
                        Posted by <a href="@Url.Action("UserPage", "Profile", new {name = item.UserName})"> @item.UserName</a>
                    </p>
                }
               @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    <a href="@Url.Action("DeletePhoto", "Photo", new {name = item.UserName, photoId = item.Id})">
                        @Sprite.Image("~/App_Sprites/trashCan.png", new { @class = "likes-count" })
                    </a>
                }
            </div>
            <div>
                @foreach (var tag in item.Tags)
                {
                    if (Model.pageName.Substring(3) == tag.Name && Model.pageName.StartsWith("Tag"))
                    {
                        <a class="btn btn-primary btn-xs" href="@Url.Action("TagSearch", "Tag", new {name = tag.Name})">@tag.Name</a>
                    }
                    else
                    {
                        <a class="btn btn-default btn-xs" href="@Url.Action("TagSearch", "Tag", new {name = tag.Name})">@tag.Name</a>
                    }
                }

                <div id=@item.Id.ToString()> @{Html.RenderPartial("Like", item); } </div>
            </div>
        </div>
    </div>
}
<div style="padding: 15px; text-align: center;">
    @if (Model.pageSize * Model.page <= Model.count)
    {
        using (Ajax.BeginForm("LinksView", "Home", new { page = ++Model.page, Model.pageName },
            new AjaxOptions { UpdateTargetId = "links", InsertionMode = InsertionMode.InsertAfter }))
        {
            <input type="submit" value="Show more" onclick="hideshow(this)" class="btn btn-default btn-circle"/>
        }
    }
</div>