@model IEnumerable<MvcPL.Models.UserViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Registered users</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
              <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
              </td>
        </tr>
    }

</table>